[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[packages]

telethon = "==0.17.2.1"
"boto3" = "*"
"e1839a8" = {editable = true, path = "."}
requests = "*"
requests-cache = "*"
textblob = "*"


[dev-packages]

